div #app {
    display: inline-block;
}
#video1 {
    width: 70%;
    vertical-align: top;
}
div #live-chat {
    display: inline-block;
    overflow: scroll;
    width: 25%;
    height: 90%;
    max-height: 97vh;
    vertical-align: top;
}
div.live-chat-item span{
    vertical-align: top;
}
div.sc-block {
    display: inline-block;
    margin: 5px;
    width: 75%;
}
img.sticker {
    width: 6rem;
}
img.emoji {
    width: 2rem;
}
.c_time { color:gray; }
.c_name { color:blue; }

